@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Special+Elite&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Special Elite", system-ui;
    transition: 300ms ease;
}

body {
    background-color: rgb(45, 45, 45);
    background-image: url(images/background.png);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position-x: center;
    color: #ffffff;
}

.text {
    text-align: center;
    font-size: 24px;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

h1.text {
    font-size: 48px;
    margin: 0 2% 0;
}


.logo {
    width: 80%;
    max-width: 200px;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.nome_logo {
    font-size: 70px !important;
    font-weight: 400;
    text-align: center;
    margin: 0 -15% !important;
}

.teaser {
    position: relative;
    width: 60%;
    left: 50%;
    transform: translate(-50%);

    iframe {
        width: 100% !important;
        height: 550px;
        margin-bottom: 2%;
    }

    img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}

.about {
    width: 68.2%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2%;

    img {
        width: 30%;
        height: 100%;
    }
}

.members {
    width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.membros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin-bottom: 2%;
}

.membro {
    position: relative;
    min-width: 125px;
    width: 16%;
    max-width: 250px;
    cursor: pointer;

    img {
        width: 100%;
        border-radius: 20px;
        margin-bottom: 5%;
    }

    h2 {
        text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
        position: absolute;
        z-index: 2;
        bottom: 5%;
        left: 5%;
        font-size: 32px;
        line-height: 1;
    }
}

#ayla .membro_selecionado {
    box-shadow: 0 0 10px #ff0000, 0 0 10px #ff0000;
}

#benicio .membro_selecionado {
    box-shadow: 0 0 10px #ffff00, 0 0 10px #ffff00;
}

#krave .membro_selecionado {
    box-shadow: 0 0 10px #ff9100, 0 0 10px #ff9100;
}

#lucas .membro_selecionado {
    box-shadow: 0 0 10px #009e2f, 0 0 10px #009e2f;
}

#nina .membro_selecionado {
    box-shadow: 0 0 10px #747474, 0 0 10px #747474;
}

.membro:hover {
    transform: scale(1.1);
}

.membro_selecionado {
    transform: scale(1.1);
}

.sobre_membro {
    width: 110%;
    max-width: 600px;
    position: relative;
    left: 50%;
    height: 250px;
    background-color: #000;
    margin-bottom: 2%;
    border-radius: 20px;
    box-shadow: 0 0 10px #fff, 0 0 10px #fff;
    padding: 2%;
    display: flex;

    img {
        position: absolute;
        width: 140px;
        bottom: 10%;
    }
}

.sobre_membro {
    opacity: 1;
    transform: translateX(-50%);
    transition: all 0.4s ease;
}

.sobre_membro.sumindo {
    opacity: 0;
    transform: translateX(-50%);
}

.sobre_membro.desativado {
    display: none;
}

.sobre_membro_1,
.sobre_membro_2 {
    width: 50%;
    font-size: 24px;
}

.nome_membro {
    font-size: 40px;
}

.videos {
    position: relative;
    margin-bottom: 2%;

    .carrossel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        button {
            font-size: 24px;
            padding: 10px 20px;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 10px;
            transition: all 0.3s ease;
        }

        button:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

#player {
    width: 560px;
    height: 315px;
}

#titulo_video {
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

.socialmedia div {
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 2%;
    padding: 0 5%;

    h2 {
        font-weight: 400;
        font-size: 32px;
    }

    a {
        color: #fff
    }
}

footer {
    width: 100%;
    min-height: 300px;
    height: 80%;
    background-color: #000;
    display: flex;
    padding: 2%;
    align-items: center;
}

.sobrexdaquestao {
    height: 100%;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
}

.redessociais {
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    a {
        color: #fff;
    }
}

@media (min-width: 1100px) {
    footer {
        flex-wrap: nowrap;
    }

    .sobrexdaquestao,
    .redessociais {
        width: 50%;
    }
}

@media (max-width: 1099px) {
    footer {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding: 5% 2%;
    }

    .sobrexdaquestao {
        margin-bottom: 2%;
    }
}

@media (max-width: 705px) {

    .teaser iframe {
        width: 130%;
        position: relative;
        left: 0;
        transform: translate(-10%);
        height: 250px;
    }

    .teaser p.text {
        margin-bottom: 2%;
    }

    .teaser p.text,
    .about p.text {
        width: 130%;
        font-size: 16px;
        position: relative;
        transform: translate(-10%);
    }

    h1.text.nome_logo {
        font-size: 60px !important;
        margin: 0 -20% !important;
    }

    h1.text {
        font-size: 36px !important;
    }

    h2.nome_membro {
        font-size: 24px !important;
    }

    .papel_membro {
        font-size: 22px;
    }

    .sobre_membro_2 {
        font-size: 18px !important;
    }

    #player {
        width: 250px;
        height: 200px;
    }

    .videos .carrossel button {
        font-size: 18px;
        padding: 8px 16px;
    }

    .socialmedia h1 {
        font-size: 28px !important;
    }

    .socialmedia h2 {
        font-size: 20px !important;
    }

    .sobrexdaquestao {
        padding: 0;
        font-size: 1.3em !important;
    }
}

.discord,
.twitter,
.youtube {
    cursor: pointer;
    width: 30%;
    margin: 0 2%;
    h2 {
        font-size: 22px;
    }
    img {
        border-radius: 100%;
        max-width: 150px;
        width: 90%;
    }
}

.discord:hover,
.twitter:hover,
.youtube:hover {
    transform: scale(1.1);
}
